page-reports {
   
    .row h2{
        margin-top: 6px;
        font-size: 15px;
        margin-left: 5%;
        font-weight: 500;
    }
    .row p{
        font-size: 10px;
        font-weight: 200;
        margin-top: 0px;
        margin-left: 5%;
    }
    .row{
        margin-top: 3%;
    }
    .color{
        background-color:#fff;

    }
    .rights{
        margin-top: 2%;
    }

    .colors{
        background:#d60403
    }
    .footer-md::before{
        top: -2px;
        bottom: auto;
        background-position: left 0 top 0;
        height: 0px;
    }
    .bottom{
        margin: 0px;
        padding: 0px 0;
    }
    .bottom a {
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        display: block;
        padding: 8px 0;
        margin: 0px;  
    }
     .bottom a img {
        margin-right: 4px;
        margin-left: 10px;
        width: 8%;
        margin-top: 0%;
    }
    .bor-right{
    border-right: 0.1px solid #FFF;
    }
}
