a {
color: #9c9090;
font-size: 11px;
margin-left: 0%;
}
.imgs {
  border-radius: 10%;
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 10px auto 0px auto;;
  border-color: #d60403;
  border-width: 2px;
  border-style: solid;
  }
.apple:hover{
      margin: 13px 8px 13px 0px;
      color: #d60403;
      cursor: pointer;
      font-weight: 300;
    }
.toolbar-background {
    background: #d60403;
    }
   .apple.active{
     color: red;
   }

   .apple.visited{
    color: yellow;
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: whitesmoke;
}
h2 {
  margin-top: 2%;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 2%;
}
.change{
  margin-top: -5%;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
.changes{
  margin-top: -3%;
  font-size:10px;
  margin-left: 5%;
  width: 100%;
  text-align: center;

}
.mohit{
  margin: 10px auto 0px auto;
  width: 100%;
  text-align: center;
}
.apple img {
    max-width: 100%;
    border: 0;
    width: 6%;
    margin-right: 15px;
}
[col-12] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 70%;
  max-width: 70%;
}

.toolbar-title-ios {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: whitesmoke;
  pointer-events: auto;

}
.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child, .ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child, .ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child, .ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child, .ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {

  min-height: calc(44px + 20px);

}

ion-icon {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 20px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
$font-family-base: "Montserrat";
$font-family-md-base: "Montserrat";
$font-family-ios-base: "Montserrat";
$font-family-wp-base: "Montserrat";
* {font-family: 'Roboto', sans-serif; font-size: 14px;}