page-patients-medicine {
    img {
        max-width: 60%;
        margin-top: 50%;
    }
    .row h2{
        margin-top: 6px;
        font-size: 15px;
        margin-left: 5%;
        font-weight: 500;
    }
    .row p{
        font-size: 10px;
        font-weight: 200;
        margin-top: -8px;
        margin-left: 5%;
    }
    .row h1{
        margin-top: 6px;
        font-size: 14px;
        margin-left: 5%;
        font-weight: 400;
    }
  
    .row{
        margin-top: 3%;
    }
    .color{
        background-color: #efefef

    }
    .rights{
        margin-top: 2%;
       
    }

    .colors{
        background: #d60403
    }
    .footer-md::before{
        top: -2px;
        bottom: auto;
        background-position: left 0 top 0;
        height: 0px;
    }
    .bottom{
        margin: 0px;
        padding: 0px 0;
    }
    .bottom a {
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        display: block;
        padding: 8px 0;
        margin: 0px;  
    }
     .bottom a img {
        margin-right: 4px;
        margin-left: 10px;
        width: 8%;
        margin-top: 0%;
    }
    .bor-right{
    border-right: 0.1px solid #FFF;
    }

    .searchbar-md .searchbar-input {
        padding: 6px 40px;
        border-radius: 50px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        background-position: left 0px;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #141414;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel {
        position: relative;
        background-repeat: no-repeat; 
        background-size: 20px;
        margin-bottom: -20px;
    }
    ion-searchbar {text-align: left;     
        ::-webkit-input-placeholder {text-align: left; }
    }
}
